@model IEnumerable<MvcRepules.BLL.DTO.MyFlightsDto>

@{
    ViewData["Title"] = "GetMyFlights";
}


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FlightDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FlightTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TakeoffPlace)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LandPlace)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FlightDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FlightTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TakeoffPlace)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LandPlace)
            </td>
        </tr>
        }
    </tbody>
</table>